
@using WebStore.DomainNew.Models.Product
@model CatalogViewModel
@{
    ViewBag.Title = "Shop";
    Layout = "_LayoutBreadcrumbs";
}

@*@section ad{
        @await Html.PartialAsync("Partial/_Advertisement")
    }*@

@await Html.PartialAsync("Partial/_Advertisement")

@*@await Html.PartialAsync("Partial/_FeaturedItems")*@


<section>
    <div class="row">
        <div class="col-sm-3">
            @await Html.PartialAsync("Partial/_LeftSideBar")
        </div>
        <div class="col-sm-9 padding-right">
            @await Html.PartialAsync("Partial/_ProductItems", Model.Products)
            <paging page-model="Model.PageViewModel" page-action="Shop" page-url-sectionId="@Model.SectionId" page-url-brandId="@Model.BrandId"></paging>
        </div>
        </div>
    </div>
</section>